.flex{
    display: flex;
    
}

.hPost{
    
    width: 251px;
    height: 48px;
    margin-top: 139px;
    margin-left: 650px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px; 
    color: #1F2833;
    
    
    
}

